<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Sobre o desenvolvedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<img src="https://i.pinimg.com/564x/f7/f2/a9/f7f2a9726a29b3f2666ef6664bb9e024.jpg" alt="">

<ion-card>
  <ion-card-header>
    <ion-card-title>Desenvolvido por</ion-card-title>
  </ion-card-header>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="accessibility-outline"></ion-icon>
    <ion-label>alanzoka</ion-label>
  </ion-item>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label>alanzoka.streamer@gmail.com</ion-label>
  </ion-item>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="logo-twitch"></ion-icon>
    <ion-label>www.twitch.alanzoka.com</ion-label>
  </ion-item>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="logo-instagram"></ion-icon>
     <ion-label>Alangameprays</ion-label>
  </ion-item>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="logo-flickr"></ion-icon>
     <ion-label>Versão: 0.0.1</ion-label>
  </ion-item>

</ion-card>

</ion-content>
